body {
  margin:0;
}

.app {
  display:flex;
  flex-direction: row;
}

.sidebar {
  width: 70vh;
  height: 100vh;
  background-color: red;
  margin:0;
  bottom:0;
}

.sidebar img {
  width: 50vh;
}

.home {
  width: 400px;
  background-color: sandybrown;
  padding-left: 50px;
}

.discover {
  width: 400px;
  background-color: rgb(248, 244, 18);
  padding-left: 50px;
}