body {
  margin:0;
}

.app {
  display:flex;
  flex-direction: row;
}

.app .right_bar {
  width: 20rem;
   background-color: rgb(4, 148, 192); 
   color: white;
   border: solid 1px rgb(4, 148, 192); 
}
.app .right_bar img {
  width: 40vh;
  margin-bottom:3rem;
}

.sidebar_ul {
  
  margin:0;
  list-style-type: none;font-family: Arial, Helvetica, sans-serif;
}

.sidebar_ul li{
  padding: 30px 10px;
}

.sidebar_ul li a {
  color:white;
text-decoration: none;
}

.sidebar_ul svg {
  font-size:30px;
  padding: 10px 10px;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 0px 0 50px 20px;
}

.discover {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  justify-content: center;
  padding: 0px 0 50px 20px;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height:100%;
  background-color: white;
  color: rgb(4, 148, 192);
  font-size: 70px;
  padding: 150px 200px 50px 200px;
  bottom:0;
}

.categories .icon {
  border: solid 2px rgb(4, 148, 192);
  border-radius: 50%;
  cursor: pointer;
  margin:0 20px 0 20px;
  padding: 15px 15px;
}

.categories svg {
margin:0;
padding:0;
}

.categories p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align:center;
  margin:0;
  padding-bottom: 20px;
}

.courses {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  width: 100%;
}
.courses .card {
  width: 250px;
  height: 400px;
  background-color: seashell;
  margin: 10px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.courses .card h1 {
  font-size: 18px;
  padding:10px 0 4px 20px;
  margin:0;

}
.courses .card video {
  width: 250px;
  height:150px; 
  margin-bottom:3px;
}

.courses .card p {
  margin:5px 0 20px 0;
  padding:10px;
}

.courses .btn {
  background-color: rgb(255, 252, 53); ;
  text-decoration: none;
  margin:0 0 0 20px;
  padding:10px;
}
.header_ul {
  display: flex;
  flex-direction: row;
  float:right;
  padding-right: 30px;
}

.header_ul li {
  width:70px;
  list-style-type: none;
  padding-right: 30px;
}

.online_teachers {
  margin-bottom: 30px;
}